/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC; /*bleu*/
    --main-bg-color: #F2F2F2; /*gris*/
    --filter-bg-color: #DEEBFF; /*bleu clair*/
} 

.fa-solid {
    color: var(--main-color);
}

body {

    margin-top: -5px;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Select ***********/
.select_all {
    display: flex;
    justify-content: flex-end;
    height: 2rem;
    width: 100%;
    margin-top: 10px;
    padding: 0px;
    gap: 2.5rem;
}
/*active visited -focus- autofocus target */
.selected {
    height: 1rem;
    width: 7rem;
    text-align: center;
    padding-top: 0.7rem;
}

.selected:hover :focus :target {
    color: var(--main-color);
    border-top: solid;
} 

.unselected {
    height: 1rem;
    width: 7rem;
    text-align: center;
    padding-top: 0.7rem;
}

.unselected:hover {
    color: var(--main-color);
    border-top: solid;
} 

/****** title ***********/

.title {
    font-size: 22px;
    margin-top: -9px;
}

.title img {
    height:19px;
}

.title h1 {
    padding-top:2rem;
}

.title p {
    margin-top: -0.65rem;
    font-size: 16px;
}

/****** NavSelect ***********/
.navselect_all {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    visibility: hidden;
}
  
.navselected {
    height: 2rem;
    width: 50%;
    color: var(--main-color);
    border-bottom: solid;
    text-align: center;
}
.navunselected {
    height: 2rem;
    width: 50%;
    text-align: center;
    border-color: var(--main-bg-color);
}
  
.navunselected:hover {
    color: var(--main-color);
    border-bottom: solid;
} 

/****** Search ***********/

.search{
    display: flex;
    width: 50%;
    height: 3rem;   
    padding-top: 1rem;
}

.lock {
    display: flex;
    background-color: var(--main-bg-color);
    border-radius: 30% 0 0 30%;
    padding: 1% 1.5%; 
    width: 2rem;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.fa-location-dot{
    color: black;
}

input {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px solid var(--main-bg-color);
    outline: none;
}

input::placeholder {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#button {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0  15px 15px 0;
    padding-left: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.fa-magnifying-glass {
    color: white;  
}

#button:hover {
    background-color: var(--filter-bg-color);
    color: black;
}

.button_lite {
    visibility: hidden;
    background-color: var(--main-color);
    color: white;
    border-radius: 0 20% 20% 0;
    padding: 1%; 
    margin-left: 0px; 
    border: none;
    outline: none;
}

/****** Filtres ***********/

.filter {
    display: flex;
    justify-content: left; 
    align-items: center;
    gap: 1%;  
    padding-top: 1.8rem;
}

.filtitle {
    display: flex;
    justify-content: left; 
    align-items: center;
    gap: 1%;  
}

.butfilter {
    height: 2.73rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--main-bg-color); /* Bords gris */
    border-radius: 30% / 100%; /* rectangle bords arrondis */
    padding-left:1%;
    padding-right:1%;
    gap: 0.5rem;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.butfilter:hover {
    background-color: var(--filter-bg-color);
    color: black;
}

/****** Info ***********/
.info {
    height: 2rem;
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.circle {
    border: 2px solid var(--main-bg-color);
    border-radius: 50%;
    display: flex;
    margin-right: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6%;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
/*ajouter une max-width pour éviter que ça déborde.*/
.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#activites {
    padding-left: 2rem;
    margin-top: -1rem;
}

.hebergements-grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 40%); 
    grid-column-gap: 2.45rem;
    grid-row-gap: 0rem;
    margin-top: -1.5rem;
    margin-bottom: -4.5rem;
}

.hebergements-1 {
    grid-column: 1;
    grid-row: 1;
}

.hebergements-2 {
    grid-column: 2;
    grid-row: 1;
}
.hebergements-3 {
    grid-column: 3;
    grid-row: 1;
}
.hebergements-4 {
    grid-column: 1;
    grid-row: 2;
}
.hebergements-5 {
    grid-column: 2;
    grid-row: 2;
}
.hebergements-6 {
    grid-column: 3;
    grid-row: 2;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-top: 33px;
    width: 105%;
}

.hebergements-cards img {
    width: 100%;
    height: 7.3rem; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.plus {
    padding-top: 0.1rem;
    padding-bottom: 4rem;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    margin-left: 2rem;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 8rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.hebergements-title h2{
    padding-bottom: 3%;
}

.activity {
    display: ruby;
    justify-content: space-evenly;
    padding-inline: 1%;
}

.activity-card {
    height: 27.5rem;
    width: 22.5%;
    background-color: #ffffff; /* Fond blanc */
    border-radius: 20px; /* Coins arrondis */
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1)); /* Ombre portée */
    display: flex;
    flex-direction: column; /* Alignement vertical */
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* Cache les choses qui dépassent du div */
    margin-bottom: 2.5rem;
}
  
/* Style pour l'image */
.activity-card img {
    height: 23.8rem;
    width: 100%;
    object-fit: cover;
}
  
/* Style pour le texte */
.activity-card h3 {
    font-size: 16px;
    padding-left: 7%;
    padding-top: 2%;
}

/* Footer */
.footer {
    display: flex;
    flex-direction:row;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    justify-content:space-between;
    padding-right: 25%;
    padding-left: 1%;
    margin-top: 2%;
}

.footer-content {
    display: flex;
    flex-direction:column;
    line-height: 5%;
    padding-top: 1.5%;
}  
#assistance {
    margin-right: -2%;
}  


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
 /****** Filtres tablette *******/
    .filter {

        flex-wrap: wrap;
    }
    .filtitle {
        width: 1024px;
    }
    .butfilter {
        font-size: 14px;
        padding-left:2%;
        padding-right:2%;
        margin-right: 0.6%;
    }
/* Hebergements And Populaires tablette */
    .hebergements-and-populaires {
        flex-direction: column;
        margin-bottom: 2rem;
        margin-right: -2rem;
    }
 /**** Hebergements tablette *****/
    .hebergements {
        width: 100%;
    }
 /**** Populaires tablette *****/
    .populaires {
        width: 100%;
        margin-top: 50px;
        margin-left: 0;

    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
/**** Activités tablette *****/
    .activity {
        display: flex;
        justify-content: space-evenly;
        width: 104%;
        padding-left: 0;

    }
    .activity-card {
        width: 12rem;
        height: 17rem;
    }
    .activity-card img {
        height: 75%;
        width: 100%;
    }
/****** Footer tablette ******/
    .footer {
        margin-top: 3%;
    }
    .footer-content {
        padding-left: 2%;
    } 
    #assistance {
        margin-right: -15%;
    }  
}

/* Small devices (phones, less than 768px) */
/*Teste en 320 px ton site dois rester responsive jusquà cette taille.*/
@media (max-width: 767.98px) {

    /****** General phone ****/
    .section-title {
        text-align: center;
    }

    /****** Select phone*******/
    .select_all {
        display: none;
    }
    /****** NavSelect phone ****/
    .navselect_all {
        visibility: visible;
        width: 100%;
    }
    /****** Search phone **********/
    .search{
        width: 100%;
        align-content: stretch;
    }
    button{
        display: none;
    }
    .button_lite{
        visibility: visible;
    }
    /****** Filtres phone ***********/
    .filter {
        height: 8rem;
        gap: 1rem;  
        flex-wrap: wrap;
    }
    
    .butfilter {
        clear:both;
    }
    
    /****** Hebergements And Populaires phone ***********/
    .hebergements-and-populaires {
        flex-direction: column;
    }
    /****** Hebergements phone ***********/
    .hebergements {
        width: 100%;
        order: 2;
    } 
    .hebergements-grid {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, 15%); 
        grid-gap:  1%;
    }

    .hebergements-2 {
        grid-column: 1;
        grid-row: 2;
    }
    .hebergements-3 {
        grid-column: 1;
        grid-row: 3;
    }
    .hebergements-4 {
        grid-column: 1;
        grid-row: 4;
    }
    .hebergements-5 {
        grid-column: 1;
        grid-row: 5;
    }
    .hebergements-6 {
        grid-column: 1;
        grid-row: 6;
    }
/****** Populaires phone ***********/
.populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    order: 1;
}
.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.populaires-cards a {
    width: 100%;
}

/****** Activités phone ***********/

.activity {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5%;
  }

.activity-card {
    width: 100%;
    height: 136px;  
}
/****** Footer phone **********/  
.footer-content {
    width: 100%;
    flex-wrap: wrap;
}  
.footer-content a {
    width: 100%;
}
}

