/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC; /*bleu*/
    --main-bg-color: #F2F2F2; /*gris*/
    --filter-bg-color: #DEEBFF; /*bleu clair*/
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Select ***********/
.selected {
   color: #0065FC;
   border-top: solid;
   text-align: right;
   margin: 5%;
}
.unselected {
   text-align: right;
}

/****** Search ***********/

.lock {
  background-color: #F2F2F2;
  border-radius: 25% 0 0 25%;
  padding: 1% 1.5%; 
  margin-right: 0px;
  width: 120%;
}

input {
  padding: 1%; 
  margin-right: 0px;
  padding-top: 1.5%;
  padding-bottom: 1.1%;
  border: none;
  outline: none;
}

button {
  background-color: #0065FC;
  color: white;
  border-radius: 0 20% 20% 0;
  padding: 1%; 
  margin-left: 0px; 
  padding-top: 1.5%;
  padding-bottom: 1.1%;
  border: none;
  outline: none;
}

button:hover {
  background-color: #DEEBFF;
  color: black;
}


/****** Filtres ***********/

.butfilter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;  /* Bords gris clair */
    border-radius: 25%; /* rectangle bords arrondis */
}

/****** Info ***********/
.info {
    height: 2rem;
    display: flex;
    justify-content: left; 
    align-items: center;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.i {
    display: flex;
    height: 1rem;
    width: 1rem;
    margin-right: 2rem;
}

.circle {
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    margin-right: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-grid {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, 40%); 
  grid-gap:  5%;
}

.hebergements-1 {
    grid-column: 1;
    grid-row: 1;
}

.hebergements-2 {
    grid-column: 2;
    grid-row: 1;
}
.hebergements-3 {
    grid-column: 3;
    grid-row: 1;
}
.hebergements-4 {
    grid-column: 1;
    grid-row: 2;
}
.hebergements-5 {
    grid-column: 2;
    grid-row: 2;
}
.hebergements-6 {
    grid-column: 3;
    grid-row: 2;
}

.hebergements-cards .card {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px; /*33%;*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.plus {
    padding-bottom:30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activity {
    display: flex; 
    justify-content: space-evenly;
    overflow: hidden; /* Cache les choses qui dépassent du div */
  }

  .activity-card {
      width: 20rem;
      height: 100%;
      background-color: #ffffff; /* Fond blanc */
      border-radius: 5%; /* Coins arrondis */
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); /* Ombre portée */
      display: flex;
      flex-direction: column; /* Alignement vertical */
      justify-content: center; 
      margin-left: auto;
      margin-right: auto;
      overflow: hidden; /* Cache les choses qui dépassent du div */
  }
  
  /* Style pour l'image */
  .activity-card img {
       height: 90%;
       width: auto;
       border-radius: 5% 5% 0 0; /* Coins arrondis seulement en haut */
       object-fit: cover;
    }
  
  /* Style pour le texte */
  .activity-card h3 {
    font-size: 16px;
    text-align: start; /* texte à gauche horizontalement */
}

/* Footer */
.footer {
    display: flex;
    flex-direction:row;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    justify-content:space-between;
    padding-right: 25%;
    padding-left: 1%;
}

.footer-content {
    display: flex;
    flex-direction:column;
}  


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}